<h1><strong>Abuela Sorda</strong></h1>

<form action="/" method="post">
    <label for="frase">Di algo Abuela:<br>
        <input type="text" name="frase" id="frase">
    </label>
    <input type="submit" value="Dilo!">
</form>